.wrap{
    display: flex;
}

.wrap > div{
    width: 50%;
}

.user-box{
    background: darkolivegreen;
    color: burlywood;

}

.chose-one{
    width: 50%;
    background: darkslategrey;
    color: darkgoldenrod;

}