.link-box {
    background: silver;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}
.link-box > a{
  color: #561717;
  font-size: 20px;
  font-family: Constantia, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}