.header{
    display: flex;
}
.comments-box{

    background: #330808;
    color: #868080;
    width: 70%;
    padding: 5px;

}
.comments-details{

    padding: 20px;
    background: #422d09;
    color: #791d1d;


}